
:root{
    font-size: 60%;
    --color-background: #393e46 ;
    --color-primary: #fcda05;
    --color-secondary : #fffbe0;
    --color-dark : #222831;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html, body, #root{
    width: 100vw;
    overflow-x: hidden;
    background: #1d976c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1d976c, #93f9b9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1d976c, #93f9b9);
    height: 100%;
    color: var(--color-dark);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
}


@media ( min-width: 700px  ){
    :root{
        font-size: 62.5%;
    }
} 