


section#top-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section#count-container{
    font-size: 6rem;
}

section#start-rest-container{
    display: grid;
    grid-template-columns:  auto auto ;
}
